.header {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 2px;
    margin: 2rem 0;
    animation: txtshdw 6s linear infinite;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px 0px 0px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    outline: none;
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-group {
    position: relative;
    display: flex;
    width: 400px;
    margin: auto;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --clr-bg: rgb(12, 15, 18);
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: rgb(8, 35, 75);
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: rgb(23, 42, 70);
}

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes txtshdw {
    10% {
        text-shadow: 0 0 1px;
    }

    20% {
        text-shadow: 0 0 2px;
    }

    30% {
        text-shadow: 0 0 3px;
    }

    40% {
        text-shadow: 0 0 4px;
    }

    50% {
        text-shadow: 0 0 5px;
    }

    60% {
        text-shadow: 0 0 4px;
    }

    70% {
        text-shadow: 0 0 3px;
    }

    80% {
        text-shadow: 0 0 2px;
    }

    90% {
        text-shadow: 0 0 1px;
    }

    100% {
        text-shadow: 0 0 1px;
    }
}

button {
    padding: 0 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    border-radius: 0 0.3rem 0.3rem 0;
    border: none;
    cursor: pointer;
    animation: txtshdw 6s linear infinite;
    text-shadow: 0 0 1px;
}

button:hover {
    filter: brightness(0.9);
}

iframe {
    border: none;
}

.device-container1 {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 800px;
}



.imac {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.iphone {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.6);
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.iphone-body {
    transform: scale(0.9);
}

.imac-body {
    transform: scale(0.6);
}

/* Responsive */
@media (max-width:1200px) {
    .imac {
        max-width: 1200px;
    }

    .iphone {
        transform: scale(0.6);
    }
}

@media (max-width:1050px) {
    .iphone {
        transform: scale(0.5);
    }
}

@media (min-width:851px) {
    .device-container2 {
        display: none;
    }
}

@media (max-width:850px) {
    .device-container1 {
        display: none;
    }

    .imac {
        max-width: 965px;
        max-height: 700px;
    }

    .imac-body {
        transform: scale(0.3);
    }

    .iphone {
        max-height: 575px;
    }

    .iphone-body {
        transform: scale(1.1);
        padding-bottom: 10rem;
    }
}

@media (max-width:850px) {
    .header {
        font-size: 2rem;
    }

    .form-group {
        width: 300px;
    }

    .imac {
        max-height: 400px;
    }

    .imac-body {
        transform: scale(0.19);
    }

    .iphone {
        max-height: 450px;
    }

    .iphone-body {
        transform: scale(0.8);
        padding-bottom: 7rem;
    }
}

@media (max-width:400px) {
    .header {
        font-size: 1.5rem;
    }

    .form-group {
        transform: scale(0.7);
    }

    .imac {
        max-height: 300px;
    }

    .imac-body {
        transform: scale(0.15);
    }

    .iphone {
        max-height: 350px;
    }

    .iphone-body {
        transform: scale(0.6);
        padding-bottom: 5rem;
    }
}



/*  */
.imac-body .imac-screen::after {
    content: '';
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.18) 0%, rgba(54, 54, 54, 0.273) 100%);
    position: absolute;
    border-radius: 50%;
    left: 950px;
    top: 2rem;
}

.imac-body .imac-screen img,
.imac-body .imac-screen iframe {
    width: 1920px;
    height: 1080px;
    border: 5.3125rem solid black;
    background: linear-gradient(to bottom right, black 0%, rgb(10, 10, 10) 100%);
    border-radius: 3rem 3rem 0 0;
}


.imac-body .imac-bottom {
    position: relative;
    z-index: 3;
    width: 1920px;
    height: 250px;
    background-color: rgb(218, 218, 218);
    transform: translateY(-4px);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imac-body .imac-stand-container {
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imac-body .imac-stand {
    z-index: 2;
    height: 230px;
    width: 620px;
    background: linear-gradient(to top, rgb(219, 219, 219) 0%, rgb(128, 127, 127) 100%);
    border-radius: 3rem;
    position: relative;
    transform: translateY(-4px);
}

.imac-body .imacslr {
    width: 400px;
    height: 230px;
    background-color: var(--clr-bg);
    position: absolute;
}

.imac-body .imac-stand-right {
    position: absolute;
    right: -18.6rem;
    transform: rotate(75deg);
}

.imac-body .imac-stand-left {
    position: absolute;
    left: -18.6rem;
    transform: rotate(-75deg);
}

.imac-body .imac-apple {
    width: 175px;
    height: 175px;
}

.iphone-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.iphone-screen img,
.iphone-screen iframe {
    border-radius: 3rem;
}

.iphone-screen-black-border {
    background: linear-gradient(to bottom right, black 0%, rgb(10, 10, 10) 100%);
    padding: 0.7rem;
    border-radius: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone-screen-shadow1,
.iphone-screen-shadow2,
.iphone-screen-shadow3,
.iphone-screen-shadow4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.075rem;
    border-radius: 4rem;
}

.iphone-screen-shadow1 {
    background-color: #42334a;
}

.iphone-screen-shadow2 {
    background-color: #4f4057;
}

.iphone-screen-shadow3 {
    background-color: #cec1d6;
}

.iphone-screen-shadow4 {
    background-color: #938a9c;
}

.iphone-dynamic-island {
    width: 140px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 2rem;
    cursor: pointer;
}

.iphone-dynamic-island:hover {
    width: 260px;
}

.iphone-dynamic-island:active {
    transform: scaleY(1.8) scaleX(1.6) translateY(5px);
}


.iphone-home-bar {
    width: 150px;
    height: 7.5px;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    bottom: 7.5px;
    cursor: pointer;
}

.iphone-home-bar:hover {
    transform: scale(1.1);
}

.iphone-home-bar:active {
    width: 180px;
    bottom: 10px;
}

.iphone-dynamic-island-camera {
    width: 12.5px;
    height: 12.5px;
    position: absolute;
    background-color: rgb(27, 18, 56);
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: 1px solid rgb(37, 37, 97);
    outline: 1px solid rgb(49, 49, 68);
    filter: blur(0.5px);
}

.iphone-dynamic-island-app {
    width: 20px;
    height: 20px;
    position: absolute;
    background:
        radial-gradient(circle, red 0%, blue 25%, red 75%, orange 100%);
    left: 10px;
    top: 7.5px;
    border-radius: 50%;
    filter: blur(0.5px);
}

.iphone-volume-up1,
.iphone-volume-up2,
.iphone-volume-up3,
.iphone-volume-down1,
.iphone-volume-down2,
.iphone-volume-down3 {
    width: 1px;
    height: 55px;
}

.iphone-muteunmute1,
.iphone-muteunmute2,
.iphone-muteunmute3 {
    width: 1px;
    height: 40px;
}

.iphone-lock-button1,
.iphone-lock-button2,
.iphone-lock-button3 {
    width: 1px;
    height: 130px;
}


.iphone-volume-up1,
.iphone-volume-down1,
.iphone-muteunmute1,
.iphone-lock-button3 {
    background-color: #e7e2e8;
}

.iphone-volume-up2,
.iphone-volume-down2,
.iphone-muteunmute2,
.iphone-lock-button2 {
    background-color: #878688;
}

.iphone-volume-up3,
.iphone-volume-down3,
.iphone-muteunmute3,
.iphone-lock-button1 {
    background-color: #000000;
}

.iphone-muteunmute,
.iphone-volume-up,
.iphone-volume-down,
.iphone-lock-button {
    display: flex;
}

.iphone-lock-button {
    position: absolute;
    top: 11rem;
    right: -19px;
}

.iphone-muteunmute {
    position: absolute;
    top: 7.25rem;
    left: -19px;
}

.iphone-volume-up {
    position: absolute;
    top: 11.25rem;
    left: -19px;
}

.iphone-volume-down {
    position: absolute;
    top: 15.75rem;
    left: -19px;
}